asgiref==3.8.1
black==25.1.0
click==8.1.8
Django==4.2.23
django-autoslug==1.9.9
django-cities-light==3.10.1
django-htmx==1.23.2
flake8==7.3.0
isort==6.0.1
mccabe==0.7.0
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
pillow==11.3.0
platformdirs==4.3.8
progressbar2==4.5.0
pycodestyle==2.14.0
pyflakes==3.4.0
python-utils==3.9.1
pytz==2025.2
sqlparse==0.5.3
tomli==2.2.1
typing_extensions==4.14.0
Unidecode==1.4.0
