/* styles.css */

/* Reset (basic) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.6;
  background-color: #f8f9fa;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
}

.logo-container {
  flex: initial;
  margin: 0 3rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #6f4e37;
  text-decoration: none;
}

.tagline {
  flex: initial;
  margin: 0 3rem;
}

/* Navbar Styles */
.navbar {
  background-color: #6f4e37;
  padding: 1rem 0;
  color: white;
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

button.nav-link {
  background: none!important;
  border: none;
  padding: 0!important;
  color: white;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  font-size: 15.5;
}

.nav-links a:hover {
  color: #ffcca7;
}

button.nav-link:hover {
  color: #ffcca7;
}

/* Responsive (Mobile) */
@media (max-width: 600px) {
  .nav-links {
    display: none;
  }
}

main {
  margin: 0 auto;
  padding: 1rem 3rem; 
}

.detail-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.index-list {
    display: flex;
    flex-wrap: wrap;

    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;;
}

.index-list li {
    margin: 0.25rem 0;
    flex: initial;
    margin-right: 1rem;
    max-width: 200px;
}

.index-list a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: black;
  text-decoration: none;
}

.index-list a:hover {
  text-decoration: underline;
}

.index-list img {
  max-width: 200px;
  height: auto;
  flex: initial;
}