{% load static %}

<link rel="stylesheet" href="{% static 'coffeepedia/style.css' %}">
<!doctype html>
<html lang="en-US">
  <head>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js" integrity="sha384-Akqfrbj/HpNVo8k11SXBb6TlBWmXXlYQrCSqEWmyKJe+hDm3Z/B2WVG4smwBkRVm" crossorigin="anonymous"></script>
    <meta charset="utf-8" />
    <title>Coffeepedia</title>
  </head>
  <body>
    <header>
      <div class="logo-container">
        <a class="logo" href="{% url 'home' %}"><h1>Coffeepedia</h1></a>
      </div>
      <div class="tagline">
        <p>Welcome to Coffeepedia, your source for coffee bean information!</p>
      </div>
    </header>
    <nav class="navbar">
      <div id="navigation" class="navbar-container">
        <ul class="nav-links">
          <li><a href="{% url 'beans:index' %}">Beans</a></li>
          <li><a href="{% url 'roaster:index' %}">Roasters</a></li>
          {% if not user.is_authenticated %}
          <li><a href="{% url 'users:signup' %}">Register</a></li>
          <li><a href="{% url 'users:login' %}">Login</a></li>
          {% else %}
          <li>
            <form id="logout-form" method="post" action="{% url 'users:logout' %}">
              {% csrf_token %}
              <button type="submit" class="nav-link">Logout</button>
            </form>
          </li>
          <li><p>Welcome, {{ user.username }}</p></li>
          {% endif %}
        </ul>
      </nav>
    </div>
    <main>
    {% block title %}
    {% endblock %}

    {% block content %}
    {% endblock %}
    </main>
  </body>
</html>