{% extends "coffeepedia/base.html" %}

{% block title %}
<h2>All Roasters</h2>
{% endblock %}

{% block content %}
<div id="roaster-list">
{% if roaster_list %}
    <ul class="index-list">
    {% for roaster in roaster_list %}
    <li><a href="{% url 'roaster:detail' roaster.id %}">{{ roaster.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No roasters are available.</p>
{% endif %}
</div>
{% if user.is_authenticated %}
<div id="roaster-button">
    <button hx-get="{% url 'roaster:add_roaster' %}" hx-target="#add-roaster-form" hx-swap="innerHTML">
    Add Roaster
    </button>
</div>
<div id="add-roaster-form"></div>
{% endif %}
{% endblock %}