{% extends "coffeepedia/base.html" %}

{% block title %}
<h2> {{ roaster.name }}</h2>
{% endblock %}

{% block content %}

<ul class="detail-list">
    <li>Rating: {{ roaster.get_rating }}</li>
    {% if roaster.city %}
        <li>Location: {{ roaster.city }}</li>
    {% elif roaster.region %}
        <li>Location: {{ roaster.region }}</li>
    {% else %}
        <li>Location: {{ roaster.country }}</li>
    {% endif %}
    <li>Number of Beans: {{ roaster.get_number_of_beans }}</li>
    <li>Website: <a href="{{ roaster.website }}">{{ roaster.website }}</a></li>
</ul>
{% endblock %}