{% extends "coffeepedia/base.html" %}

{% block title %}
<h2> {{ bean.name }}</h2>
{% endblock %}

{% block content %}
<ul class="detail-list">
    <li>Roaster: {{ bean.roaster.name }}</li>
    <li>Roast Level: {{ bean.get_roast_level_display }}</li>
    <li>Origin Type: {{ bean.get_origin_type_display }}</li>
    <li>Origin: {{ bean.origin }}</li>
    <li>Process: {{ bean.get_process_display }}</li>
    <li>Flavor Notes: {{ bean.notes }}</li>
</ul>
<div id="review-button">
    {% if user.is_authenticated %}
        <button hx-get="{% url 'beans:add_review' bean.id %}" hx-target="#add-review-form" hx-swap="innerHTML">
            Add Review
        </button>
    {% else %}
        <p>Please <a href="{% url 'users:login' %}">login</a> to add a review.</p>
    {% endif %}
</div>
<div id="add-review-form"></div>
<div id="reviews">
{% include "beans/partials/reviews-list.html" with bean=bean %}
</div>
{% endblock %}