{% extends "coffeepedia/base.html" %}

{% block title %}
<h2>All Beans</h2>
{% endblock %}

{% block content %}
<div id="beans-list">
{% if bean_list %}
  <ul class="index-list">
  {% for bean in bean_list %}
    <li><a href="{% url 'beans:detail' bean.id %}">{{ bean.roaster.name }}: {{ bean.name }}</a></li>
  {% endfor %}
  </ul>
{% else %}
  <p>No beans are available.</p>
{% endif %}
</div>
<div id="beans-button">
  <button hx-get="{% url 'beans:add_beans' %}" hx-target="#add-beans-form" hx-swap="innerHTML">
    Add Beans
  </button>
</div>
<div id="add-beans-form"></div>
{% endblock %}