<div id="beans-list">
<h2>Beans List</h2>
{% if bean_list %}
  <ul>
  {% for bean in bean_list %}
    <li><a href="{% url 'beans:detail' bean.id %}" hx-get="{% url 'beans:detail' bean.id %}" hx-target="#page-content" hx-swap="innerHTML" hx-replace-url="true">{{ bean.name }}</a></li>
  {% endfor %}
  </ul>
{% else %}
  <p>No beans are available.</p>
{% endif %}
</div>
<div id="beans-button">
  <button hx-get="{% url 'beans:add_beans' %}" hx-target="#add-beans-form" hx-swap="innerHTML">
    Add Beans
  </button>
</div>
<div id="add-beans-form"></div>
</div>